<div class="pageLayout">
  <div class="pageHeader">
    <a href="/" class="pageHeader_logo">
      <%= image_tag "logo.png" %>
    </a>
    <div class="pageHeader_content">
      <%= render render_header %>
    </div>
  </div>
  <div class="pageContent">
    <%= render 'layouts/shared/navbar' %>
    <div>Content</div>
    <%= show_svg('icon-dashboard.svg') %>
  </div>
</div>
