.profile {
    &_header {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 32px;
        justify-content: space-between;
    }

    &_container {
        padding: 33px 33px 0;
    }

    &_form {
        &_label {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #acacad;
        }

        &_input {
            font-style: normal;
            font-weight: 500 !important;
            font-size: 16px !important;
            line-height: 150% !important;
            color: #272727 !important;
            border: none !important;
            border-bottom: 1px solid #acacad !important;
            outline: none !important;
            padding-inline: 0 !important;
            border-radius: 0 !important;
            box-shadow: none !important;
            transition: border-bottom-color .5s;

            &.is-invalid {
                border-bottom-color: #CF2F4C !important;
            }

            &:focus {
                border-bottom: 1px solid #E08043 !important;
            }

            &:disabled {
                border-bottom: 1px solid #FFF !important;
                background: none;
            }

            &::placeholder {
                font-feature-settings: 'tnum' on, 'lnum' on;
                color: #ACACAD !important;
            }
        }

        &_buttons {
            display: flex;
            justify-content: end;
            gap: 18px;

            & > * {
                flex: 0.5;
                display: flex !important;
                justify-content: center;
                align-items: center;
                gap: 8px;
            }
        }
    }
}


.personalInfo {
    margin-top: 30px;
    width: 395px;
}

.earnings {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 26px;
    padding-top: 30px;

    &_editButton {
        width: 182px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 10px !important;
    }
}

.changePass {
    margin-top: 30px;
    width: 395px;
}
