<div class="PropertyDescription_base__PxGFG">
  <div class="PropertyDescription_base_header__rdPJZ">
    <div>
      <div class="d-flex mb-1 align-items-center">
        <p class="Text_base__RlowI Text_base__header___nL6m Text_base__colorPrimary__QRlVt">Pacocha, Bruen and
          Kshlerin</p><span class="Badge_base__iJzp2 ms-2">passive</span></div>
      <span class="Text_base__RlowI Text_base__label__vKcJN Text_base__colorPrimary__QRlVt">423 Ferry Viaduct Apt. 121</span>
    </div>
  </div>
  <div class="PropertyDescription_base_values__CDHXF">
    <div><p class="Text_base__RlowI Text_base__label__vKcJN Text_base__colorPrimary__QRlVt">Minimum investment</p>
      <p class="Text_base__RlowI PropertyDescription_base_value__COZkM Text_base__title__zerUD Text_base__colorSecondary__LbuV4">16&nbsp;331&nbsp;$</p>
    </div>
    <div class="Delimiter_horizontal__x7GPr"></div>
    <div><p class="Text_base__RlowI Text_base__label__vKcJN Text_base__colorPrimary__QRlVt">Equity</p>
      <p class="Text_base__RlowI PropertyDescription_base_value__COZkM Text_base__title__zerUD Text_base__colorSecondary__LbuV4">78,19&nbsp;%</p>
    </div>
    <div class="Delimiter_horizontal__x7GPr"></div>
    <div><p class="Text_base__RlowI Text_base__label__vKcJN Text_base__colorPrimary__QRlVt">Projected yield</p>
      <p class="Text_base__RlowI PropertyDescription_base_value__COZkM Text_base__title__zerUD Text_base__colorSecondary__LbuV4">14-21&nbsp;%</p>
    </div>
    <div class="Delimiter_horizontal__x7GPr"></div>
    <div><p class="Text_base__RlowI Text_base__label__vKcJN Text_base__colorPrimary__QRlVt">Property cost</p>
      <p class="Text_base__RlowI PropertyDescription_base_value__COZkM Text_base__title__zerUD Text_base__colorPrimary__QRlVt">287&nbsp;822&nbsp;$</p>
    </div>
    <div class="Delimiter_horizontal__x7GPr"></div>
    <div>
      <p class="Text_base__RlowI Text_base__label__vKcJN Text_base__colorPrimary__QRlVt">Cost per square meter</p>
      <p class="Text_base__RlowI PropertyDescription_base_value__COZkM Text_base__title__zerUD Text_base__colorPrimary__QRlVt">6&nbsp;257&nbsp;$</p>
    </div>
  </div>
</div>
