<%= turbo_stream_from :properties %>

<div class="promotionsContent">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="siTab nav-link active"
        type="button"
        id="properties-tab"
        role="tab"
        data-bs-toggle="tab"
        data-bs-target="#properties-tab-pane"
        aria-controls="properties-tab-pane"
        aria-selected="true"
      >
        Property
      </button>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" id="properties-tab-pane" aria-labelledby="properties-tab" class="fade tab-pane active show" tabindex="0">
      <%= turbo_frame_tag :properties, class: "promotionsList", "data-controller": "property-card" do %>
        <%= render partial: 'promotions/property_card', collection: @properties %>
      <% end %>
    </div>
  </div>

  <div class="dropdown promotionsSortControl" data-controller="dropdown">
    <button class="no-box-shadow dropdown-toggle btn btn-text" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="siText siText__regular siText__colorPrimary" data-dropdown-target="title">Sort by minimum investments:</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li>
        <div
          class="dropdown-item"
          role="button"
          tabindex="0"
          data-dropdown-target="item"
          data-action="click->dropdown#selectItem"
        >
          high to low
        </div>
      </li>
      <li>
        <div
          class="dropdown-item"
          role="button"
          tabindex="0"
          data-dropdown-target="item"
          data-action="click->dropdown#selectItem"
        >
          low to high
        </div>
      </li>
      <li>
        <div
          class="dropdown-item"
          role="button"
          tabindex="0"
          data-dropdown-target="item"
          data-default
          data-action="click->dropdown#selectItem"
        >
          none
        </div>
      </li>
    </ul>
  </div>
</div>

