<%= turbo_stream_from :properties %>

<div class="promotionsContent">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        type="button"
        id="react-aria-1-tab-Property"
        role="tab"
        data-rr-ui-event-key="Property"
        aria-controls="react-aria-1-tabpane-Property"
        aria-selected="true"
        class="siTab nav-link active"
      >
        Property
      </button>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" id="react-aria-1-tabpane-Property" aria-labelledby="react-aria-1-tab-Property" class="fade tab-pane active show">
      <%= turbo_frame_tag :properties, class: "promotionsList", "data-controller": "property-card" do %>
        <%= render partial: 'promotions/property_card', collection: @properties %>
      <% end %>
    </div>
  </div>

  <div class="dropdown promotionsSortControl">
    <button class="no-box-shadow dropdown-toggle btn btn-text" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="siText siText__regular siText__colorPrimary">Sort by minimum investments: none</span>
    </button>
    <ul class="dropdown-menu  dropdown-menu-end">
      <li><a data-rr-ui-dropdown-item="" class="dropdown-item" role="button" tabindex="0" href="#">high to low</a></li>
      <li><a data-rr-ui-dropdown-item="" class="dropdown-item" role="button" tabindex="0" href="#">low to high</a></li>
      <li><a data-rr-ui-dropdown-item="" class="dropdown-item" role="button" tabindex="0" href="#">none</a></li>
    </ul>
  </div>
</div>

