<!--<div class="dashboardHeader dashboardHeader__dashboard">-->
<!--  <div>-->
<!--    <p class="siText siText__label siText__colorMidGrey">Investment amount</p>-->
<!--    <p class="mt-1 siText siText__header siText__colorPrimary">450&nbsp;566&nbsp;$</p>-->
<!--  </div>-->
<!--  <div class="delimiter delimiter__horizontal"></div>-->
<!--  <div>-->
<!--    <p class="siText siText__label siText__colorMidGrey">Investment amount</p>-->
<!--    <p class="mt-1 siText siText__header siText__colorPrimary">450&nbsp;566&nbsp;$</p>-->
<!--  </div>-->
<!--  <div class="delimiter delimiter__horizontal"></div>-->
<!--  <div>-->
<!--    <p class="siText siText__label siText__colorMidGrey">Investment amount</p>-->
<!--    <p class="mt-1 siText siText__header siText__colorPrimary">450&nbsp;566&nbsp;$</p>-->
<!--  </div>-->
<!--  <div class="delimiter delimiter__horizontal"></div>-->
<!--  <div>-->
<!--    <p class="siText siText__label siText__colorMidGrey">Investment amount</p>-->
<!--    <p class="mt-1 siText siText__header siText__colorPrimary">450&nbsp;566&nbsp;$</p>-->
<!--  </div>-->
<!--</div>-->
<div class="dashboardHeader dashboardHeader__promotions">Promotions</div>
