<div class="earnings">
  <p class="siText siText__subtitle siText__colorPrimary">Please add payment method.</p>
  <button type="button" class="earnings_editButton btn btn-outline-secondary">Edit<%= show_svg('pencil.svg') %></button>
</div>
