<div class="ChangePassword_base__6a9Hr">
  <p class="Text_base__RlowI Text_base__subtitle__mpnY4 Text_base__colorPrimary__QRlVt">Change
    Password
  </p>
  <form class="ChangePassword_form__xEQvs">
    <div class="mb-3">
      <input name="password" placeholder="Current password" autofocus="" type="password" id="password" class="ChangePassword_input__c34CG form-control" value="">
      <div class="invalid-feedback">
      </div>
    </div>
    <div class="mb-3">
      <input name="newPassword" placeholder="New password" type="password" id="newPassword" class="ChangePassword_input__c34CG form-control" value="">
      <div class="invalid-feedback">
      </div>
    </div>
    <div class="mb-3">
      <input name="repeatPassword" placeholder="Confirm new password" type="password" id="repeatPassword" class="ChangePassword_input__c34CG form-control" value="">
      <div class="invalid-feedback">
      </div>
    </div>
    <div class="ChangePassword_buttons__BumZ5">
      <button type="submit" class="btn btn-outline-secondary">Change Password
      </button>
    </div>
  </form>
</div>
