<div class="changePass">
  <p class="siText siText__subtitle siText__colorPrimary">Change Password</p>
  <form class="mt-3">
    <div class="mb-3">
      <input name="password" placeholder="Current password" autofocus="" type="password" id="password" class="profile_form_input form-control" value="">
      <div class="invalid-feedback"></div>
    </div>
    <div class="mb-3">
      <input name="newPassword" placeholder="New password" type="password" id="newPassword" class="profile_form_input form-control" value="">
      <div class="invalid-feedback"></div>
    </div>
    <div class="mb-3">
      <input name="repeatPassword" placeholder="Confirm new password" type="password" id="repeatPassword" class="profile_form_input form-control" value="">
      <div class="invalid-feedback"></div>
    </div>
    <div class="profile_form_buttons">
      <button type="submit" class="btn btn-outline-secondary">Change Password</button>
    </div>
  </form>
</div>
