<%= render 'layouts/shared/head' %>

<div class="bn bn-devise devise">
  <div class="container">
    <div class="content">
      <div class="content-sign-in container paxl">
        <div class="sign-in-card w-50 m-auto text-center">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/shared/footer' %>
